<div class="col-xs-12" id="music-controls">
    <form class="form" method="POST" action="/ibus/send">
        <label for="src">Source Device</label><input class="form-control" type="text" maxlength="2" id="src" name="src"/>
        <label for="dest">Destination Device</label><input class="form-control" type="text" maxlength="2" id="dest" name="dest"/>
        <label for="msg">Message</label><input class="form-control" type="text" id="msg" name="msg"/>
        <input type="submit" class="btn btn-success" value="Submit"/>
    </form>
</div>