<div class="col-xs-12" id="jukebox-settings">
    <h1>Jukebox Library</h1>
    <table class="table table-striped">
        <tr>
            <th>Artists</th>
            <td>{{summary.Artists}}</td>
        </tr>
        <tr>
            <th>Albums</th>
            <td>{{summary.Albums}}</td>
        </tr>
        <tr>
            <th>Artists</th>
            <td>{{summary.Artists}}</td>
        </tr>
        <tr>
            <th>Total Length</th>
            <td>{{summary.Length / 86400 | number: 2}} Days</td>
        </tr>
    </table>

</div>