<div class="col-xs-12">
    <h1>Propellerhead</h1>
    <a class="btn btn-info btn-lg btn-full-width" href="#/music/now-playing"><i class="fa fa-play"></i> Now Playing</a><br/><br/>
    <a class="btn btn-info btn-lg btn-full-width" href="#/library"><i class="fa fa-music"></i> Music Library</a><br/><br/>
    <a class="btn btn-info btn-lg btn-full-width"><i class="fa fa-apple"></i> Apple AirPlay</a><br/><br/>
    <a class="btn btn-info btn-lg btn-full-width" href="#/ibus"><i class="fa fa-car"></i> BMW iBus</a><br/><br/>
    <a class="btn btn-info btn-lg btn-full-width"><i class="fa fa-cogs"></i> System</a>
</div>