<div class="col-xs-12" id="music-controls">
    <h1>Now Playing</h1>
    <div class="row" id="control-buttons">
        <div class="col-xs-3">
            <button class="btn btn-info"><i class="fa fa-backward"></i></button>
        </div>
        <div class="col-xs-3">
            <button class="btn btn-info"><i class="fa fa-stop"></i></button>
        </div>
        <div class="col-xs-3">
            <button class="btn btn-info"><i class="fa fa-play"></i></button>
        </div>
        <div class="col-xs-3">
            <button class="btn btn-info"><i class="fa fa-forward"></i></button>
        </div>
    </div>
    <div class="progress">
        <div class="progress-bar" width="60%"></div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <button class="btn btn-info"><i class="fa fa-apple"></i> Airplay</button>
        </div>
        <div class="col-xs-6">
            <button class="btn btn-info"><i class="fa fa-music"></i> Library</button>
        </div>
    </div>

</div>